/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f4f4f4, #e8e8e8);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Навигационная панель */
.navbar {
    background-color: #004080;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

/* Контейнер */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Текст описания */
.intro-text h2 {
    font-size: 22px;
    color: #333;
}

.intro-text p {
    font-size: 16px;
    color: #555;
}

/* Форма */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}

.file-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #004080;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0059b3;
}

/* Анимация обработки */
#processing {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #004080;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #0059b3;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #004080;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Футер */
footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Ссылка на обработанный файл */
.processed-file {
    margin-top: 20px;
    text-align: center;
}

.download-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #004080;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #0059b3;
}

.download-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
